- show_path = effective_qb_sync.admin_qb_sync_path(qb_sync)

- if defined?(EffectiveBootstrap)
  = dropdown(variation: :dropleft) do
    = dropdown_link_to 'View', show_path
- else
  = link_to show_path, title: 'View' do
    %span.glyphicon.glyphicon-eye-open
