%h1.effective-admin-heading= @page_title

%p.text-right.effective-admin-actions
  = link_to 'Quickbooks Setup Instructions', effective_qb_sync.instructions_admin_qb_syncs_path, class: 'btn btn-primary'

%hr
- unsynced = Effective::QbRequest.new_requests_for_unsynced_items.length

- if unsynced == 0
  %p All orders have been synchronized with Quickbooks.
- elsif unsynced == 1
  %p There is 1 order ready to be synchronized with Quickbooks.
- else
  %p There are #{unsynced} orders ready to be synchronized with Quickbooks.

%hr

= render_datatable(@datatable)
